<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <p class="footer__text">
        Есть задача <br>
        для обсуждения? <br>

        <a class="footer__link footer__link--form js-form-open" href="form.html">кнопка чтобы начать</a>
      </p>

      <a class="footer__link footer__link--contact" href="email:info@idees.ru">info@idees.ru</a>
      <a class="footer__link footer__link--contact" href="tel:+74951966585">+7 (495) 196 65 85</a>

      <ul class="footer__socials-list">
        <li class="footer__socials-item">
          <a class="footer__link footer__link--social" href="#">Whatsapp</a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__link footer__link--social" href="#">Telegram</a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__link footer__link--social" href="#">Messenger</a>
        </li>
      </ul>
    </div>

    <div class="footer__container">
      <p class="footer__copy">Idees © 2012 – 2021</p>

      <a class="footer__link footer__link--yonger" href="#">Built on Yonger</a>
      <a class="footer__link footer__link--map" href="#">Карта сайта</a>
      <a class="footer__link" href="#">Конфиденциальность</a>
    </div>
  </div>
</footer>
