<button class="up-button js-scroll-top" type="button">
  <svg class="up-button__icon" width="28" height="28" aria-hidden="true">
    <use xlink:href="/img/sprite.svg#arrow-top"></use>
  </svg>
</button>
