.animation-section {
  position: relative;
}

.animation-elem {
  position: absolute;
  top: var(--mouse-y, 50%);
  left: var(--mouse-x, 50%);
  z-index: -1;
  width: 380px;
  height: 230px;
  background-image: url("/img/contour.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  transform: translate(-50%, -50%);
  transition: 1s;
  pointer-events: none;
}
