.animation-section {
  position: relative;
}

.animation-elem {
  position: absolute;
  top: var(--position-y, 50%);
  left: var(--position-x, 50%);
  z-index: -1;
  width: 610px;
  height: 460px;
  background-image: url("/img/contour.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.5s;
  pointer-events: none;
}
