.article-page {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (width >= 860px) {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}

.article-page__tag-line {
  margin-bottom: 40px;

  .article__tag {
    margin-top: 0;
    margin-right: 32px;
    margin-left: 0;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
  }

  .article__views {
    color: var(--light-grey);
  }

  .article__date {
    color: var(--light-grey);
  }
}

.article-page__title {
  margin-bottom: 22px;
}

.article-page__description {
  max-width: 780px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;

  @media (width >= 960px) {
    margin-bottom: 82px;
    font-size: 22px;
    line-height: 28px;
  }
}

.article-page__main-image {
  display: block;
  height: 200px;
  margin-bottom: 80px;
  object-fit: cover;

  @media (width >= 460px) {
    height: auto;
  }
}

.article-page__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-color);

  @media (width >= 1200px) {
    grid-template-columns: 1fr 513px;
  }
}

.article-page__container .article {
  display: none;

  @media (width >= 1200px) {
    display: grid;
  }
}

.article-page__content {
  max-width: 928px;

  h2 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;

    @media (width >= 960px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;

    @media (width >= 960px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  p + h2 {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid var(--border-color);
  }
}

.article-page__similar {
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-page__section-title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  @media (width >= 960px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.article-page__similar-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width >= 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width >= 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.article-page__similar-item {
  &:nth-child(3) {
    display: none;

    @media (width >= 1200px) {
      display: block;
    }
  }
}

.article-page__button-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 55px;

  @media (width >= 960px) {
    padding-top: 160px;
    padding-bottom: 110px;
  }
}
