.dark-light-animation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;

  &::before {
    position: absolute;
    top: var(--position-y, 50vh);
    left: var(--position-x, 50%);
    content: "";
    background-color: var(--white);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation-name: bg-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.light-dark-animation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;

  &::before {
    position: absolute;
    top: var(--position-y, 50vh);
    left: var(--position-x, 50%);
    content: "";
    background-color: var(--dark-grey);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation-name: bg-animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes bg-animation {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 4000px;
    height: 4000px;
  }
}
