/* Button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--typo-primary-color);
  font-size: 14px;
  line-height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  @media (width >= 860px) {
    font-size: 18px;
    line-height: 24px;
  }

  &:hover {
    color: var(--typo-ghost-color);
  }
}

.button__icon-wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid currentColor;
  border-radius: 99em;

  @media (width >= 860px) {
    width: 40px;
    height: 40px;
  }
}

.button__icon {
  width: 14px;
  height: 14px;
  color: inherit;
  stroke: currentColor;

  @media (width >= 860px) {
    width: 24px;
    height: 24px;
  }

  &--fill {
    fill: currentColor;
    stroke: none;
  }
}

.button__text {
  color: inherit;
  white-space: nowrap;
}

.button__icon-wrapper + .button__text {
  margin-left: 10px;
}

.button__text + .button__icon-wrapper {
  margin-left: 10px;
}
