/* case */

.case {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "title"
    "link";


  @media (width >= 860px) {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title image"
      "link image";
    column-gap: 40px;
  }
}

.case__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  transition: 0.3s;

  @media (width >= 860px) {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 36px;
  }

  &:hover {
    color: var(--light-grey);
  }
}

.case__description {
  max-width: 515px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.3s;

  @media (width >= 860px) {
    font-size: 18px;
    line-height: 24px;
  }

  &:hover {
    color: var(--light-grey);
  }
}

.case__title-link-wrapper {
  display: block;
  grid-area: title;
  margin-top: 24px;

  @media (width >= 860px) {
    margin-top: 40px;
  }
}

.case__image-wrapper {
  display: block;
  grid-area: image;
  min-width: 0;
  overflow: hidden;
}

.case__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}

.case__link {
  grid-area: link;
  justify-self: flex-start;
  align-self: flex-end;
  margin-top: 32px;

  @media (width >= 860px) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.case__image-wrapper:hover .case__image {
  transform: scale(1.03);
}

.cases-section__list--blocks,
.project__similar-list,
.products__similar-list {
  @media (width >= 860px) {
    .case {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "title"
        "link";
    }

    .case__title {
      line-height: 26px;
    }

    .case__image {
      width: 100%;
      height: 400px;
    }

    .case__link {
      margin-top: 64px;
      margin-bottom: 0;
    }
  }
}

.cases-section__list--without-top-borders,
.project__similar-list,
.products__similar-list {
  .case__description {
    margin-bottom: 0;
  }
}
