/* cases-section */

.cases-section {
  padding-top: 70px;
}

.cases-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cases-section__item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid var(--border-color);

  @media (width >= 860px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &:not(:first-of-type) {
    border-bottom: 1px solid var(--border-color);
  }
}

.cases-section__list--blocks {
  @media (width >= 860px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .cases-section__item {
      &:nth-child(odd) {
        padding-right: 20px;
      }

      &:nth-child(even) {
        padding-left: 20px;
      }
    }
  }
}

.cases-section__list--without-top-borders {
  .cases-section__item {
    padding-top: 0;
    border-top: none;
    border-bottom: 1px solid var(--border-color);

    @media (width >= 860px) {
      padding-top: 0;
    }
  }
}
