.collapse-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 18px 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
}

.collapse-item__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  cursor: pointer;
}

.collapse-item__title {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;

  @media (min-width: 800px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.collapse-item__button {
  width: 40px;
  height: 40px;
  margin-right: -12px;
  padding: 0;
  color: var(--dark-grey);
}

.collapse-item__button-icon {
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
  transform-origin: center;
  transition: 0.2s ease-in-out;
}

.collapse-item__description {
  max-width: 670px;
  margin: 0;
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 24px;
}

.collapse-item__container {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.collapse-item__container:not(.active) {
  visibility: hidden;
}

.collapse-item.opened .collapse-item__button {
  color: var(--dark-color);
}

.collapse-item.opened .collapse-item__button-icon {
  transform: rotate(45deg);
}
