/* feedback-section */

.feedback-section {
  padding-top: 200px;
  padding-bottom: 160px;
}

.feedback-section__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.feedback-section__title {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;
}

.feedback-section__list-container {
  width: 100%;
  overflow: hidden;
}

.feedback-section__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  list-style: none;
}

.feedback-section__item {
  flex-shrink: 0;
  width: 74.5%;
  margin-right: 170px;
  padding: 10px;

  &:not(.feedback-section__item--active) {
    filter: blur(4px);
  }
}
