/* feedback-section */

.feedback-section {
  padding-top: 86px;
  padding-bottom: 80px;

  @media (width >= 860px) {
    padding-top: 200px;
    padding-bottom: 160px;
  }
}

.feedback-section__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  @media (width >= 860px) {
    margin-bottom: 70px;
  }
}

.feedback-section__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

  @media (width >= 860px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.feedback-section__list-container {
  @media (width >= 860px) {
    width: 100%;
    overflow: hidden;
  }
}

.feedback-section__list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  transition: transform 0.5s;

  @media (width >= 860px) {
    width: auto;
    margin-left: -10px;
    overflow: initial;
  }
}

.feedback-section__item {
  flex-shrink: 0;
  width: 100%;

  @media (width >= 860px) {
    width: 74.5%;
    margin-right: 170px;
    padding: 10px;
  }

  &:not(.active) {
    @media (width >= 860px) {
      opacity: 0.3;
      filter: blur(4px);
    }
  }
}
