.feedback-page {
  padding-top: 80px;
  padding-bottom: 30px;

  @media (width >= 1200px) {
    padding-top: 200px;
    padding-bottom: 30px;
  }
}

.feedback-page__title-container {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);

  @media (width >= 1200px) {
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}

.feedback-page__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (width >= 1200px) {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

.feedback-page__item {
  @media (width >= 1200px) {
    padding-top: 48px;
    padding-bottom: 48px;

    &:nth-child(5n + 1) {
      padding-right: 20px;
      border-bottom: 1px solid var(--border-color);
    }

    &:nth-child(5n + 2) {
      padding-left: 20px;
      border-bottom: 1px solid var(--border-color);
    }

    &:nth-child(5n + 3) {
      border-bottom: 1px solid var(--border-color);
    }

    &:nth-child(5n + 4) {
      padding-right: 20px;
      border-bottom: 1px solid var(--border-color);
    }

    &:nth-child(5n + 5) {
      padding-left: 20px;
      border-bottom: 1px solid var(--border-color);
    }
  }

  &--full {
    grid-column: 1 / -1;
  }
}

.feedback-page__item--full .feedback__text {
  max-width: none;
  font-size: 14px;
  line-height: 18px;

  @media (width >= 860px) {
    font-size: 22px;
    line-height: 28px;
  }

  @media (width >= 1200px) {
    max-width: 78%;
    font-size: 28px;
    line-height: 42px;
  }
}
