/* Footer */

.footer {
  padding-top: 45px;
  background-color: var(--light);

  @media (min-width: 640px) {
    padding-top: 96px;
  }
}

.footer__top-section {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
  }

  @media (min-width: 960px) {
    margin-bottom: 160px;
  }
}

.footer__bottom-section {
  min-height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12px;
  line-height: 12px;
  border-top: 1px solid var(--border-color);

  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 960px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__bottom-section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 640px) {
    justify-content: space-between;
    max-width: none;
  }

  &:nth-child(1) {
    margin-bottom: 11px;

    @media (min-width: 640px) {
      flex-basis: 48%;
      margin-right: 20px;
      margin-bottom: 0;
    }

    @media (min-width: 960px) {
      flex-basis: 58.5%;
    }
  }
}

.footer__text {
  margin: 0;
  margin-bottom: 45px;
  color: var(--light-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  @media (min-width: 640px) {
    grid-row: 1 / span 3;
    margin-bottom: 27px;
  }

  @media (min-width: 960px) {
    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: 1024px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.footer__link {
  transition: 0.3s;

  &:hover {
    color: var(--grey);
  }

  &--form {
    display: inline;
    padding: 0;
    color: var(--dark-grey);
    text-align: left;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }

  &--contact {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;

    @media (min-width: 640px) {
      grid-column: 2 / span 1;
      margin-bottom: 0;
    }

    @media (min-width: 960px) {
      font-size: 50px;
      line-height: 56px;
    }

    @media (min-width: 1400px) {
      font-size: 70px;
      line-height: 76px;
    }
  }

  &--social {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;

    @media (min-width: 960px) {
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: 1400px) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &--map {
    margin-right: 24px;
  }
}

.footer__socials-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;

  @media (min-width: 640px) {
    grid-column: 2 / span 1;
    margin-bottom: 0;
  }
}

.footer__socials-item {
  &:not(:last-of-type) {
    margin-right: 16px;

    @media (min-width: 960px) {
      margin-right: 25px;
    }

    @media (min-width: 1400px) {
      margin-right: 25px;
    }
  }
}

.footer__copy {
  margin: 0;
  margin-right: 24px;
}
