/* Footer */

.footer {
  padding-top: 96px;
  background-color: var(--light);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__text {
  margin: 0;
  margin-bottom: 27px;
  color: var(--light-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.footer__link {
  transition: 0.3s;
}

.footer__link:hover {
  color: var(--grey);
}

.footer__link--form {
  color: var(--dark-grey);
  text-decoration: underline;
}

.footer__link--contact {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.footer__link--social {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.footer__link--yonger {
  margin-right: 23.5%;
}

.footer__link--map {
  margin-right: 20px;
}

.footer__socials-list {
  display: flex;
  grid-column: 2 / span 1;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__socials-item:not(:last-of-type) {
  margin-right: 25px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;
  font-size: 12px;
  line-height: 12px;
  border-top: 1px solid var(--border-color);
}

.footer__copy {
  margin-right: auto;
}

@media (min-width: 560px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 160px;
  }

  .footer__text {
    grid-row: 1 / span 3;
    margin-bottom: 27px;
  }

  .footer__link--contact {
    grid-column: 2 / span 1;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
}

@media (min-width: 1200px) {
  .footer__text {
    font-size: 50px;
    line-height: 56px;
  }

  .footer__link--contact {
    font-size: 70px;
    line-height: 76px;
  }

  .footer__link--social {
    font-size: 22px;
    line-height: 28px;
  }

  .footer__container {
    font-size: 14px;
    line-height: 20px;
  }
}
