/* Form-section */

.form-section {
  flex-direction: column;
  padding-bottom: 50px;
  background-color: var(--bg-primary-color);
}

.form-section__container {
  padding-top: 100px;

  @media (width >= 1200px) {
    padding-top: 200px;
  }
}

.form-section__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--border-color);

  @media (width >= 900px) {
    flex-direction: row;
  }
}

.form-section__title {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (width >= 800px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.form-section__phone {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  color: var(--typo-secondary-color);
  font-size: 16px;
  line-height: 22px;

  @media (width >= 800px) {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
  }
}

.form-section__phone-link {
  margin-top: 8px;
  color: var(--typo-primary-color);
  font-size: 22px;
  line-height: 28px;
  white-space: nowrap;

  @media (width >= 800px) {
    margin-top: 16px;
    font-size: 30px;
    line-height: 36px;
  }

  &:hover {
    color: var(--typo-ghost-color);
  }
}
