/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
  color: var(--dark-grey);
}

.header__logo-link {
  display: block;
  margin-right: 8%;
}

.header__logo-link:hover {
  color: var(--grey);
}

.header__logo-image {
  display: block;
  width: 120px;
  height: 30px;
  fill: currentColor;
}

.header__button-link {
  position: relative;
  display: block;
  color: currentColor;
  font-weight: 500;
  white-space: nowrap;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.2s;
}

.header__button-link:hover {
  color: var(--grey);
}

.header__button-link-icon {
  width: 32px;
  height: 8px;
  fill: currentColor;
}

.header__button-link--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: -4px;
}

.header__button-link--express {
  display: none;
}

.header__button-link--project {
  display: none;
}

@media (min-width: 560px) {
  .header {
    min-height: 98px;
  }

  .header__logo-image {
    width: 200px;
    height: 50px;
  }

  .header__button-link-icon {
    width: 40px;
    height: 10px;
  }

  .header__button-link--menu {
    margin-right: 0;
  }

  .header__button-link--project {
    display: block;
    margin-right: 9%;
    margin-left: auto;
  }
}

@media (min-width: 960px) {
  .header__button-link--express {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--light);
    border-radius: 99em;
  }
}
