/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;
  color: var(--dark-grey);

  @media (min-width: 960px) {
    grid-template-columns: min-content 1fr 1fr 120px;
  }

  &--form {
    @media (min-width: 960px) {
      grid-template-columns: min-content 1fr 120px;
    }
  }

  &--menu {
    row-gap: 36px;

    @media (min-width: 600px) {
      grid-template-columns: min-content 1fr 120px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media (min-width: 960px) {
      grid-template-columns: min-content 1fr 1fr 120px;
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
}

.header__logo-link {
  display: block;
  justify-self: flex-start;

  &:hover {
    color: var(--grey);
  }
}

.header__logo-image {
  display: block;
  width: 120px;
  height: 30px;
  fill: currentColor;

  @media (min-width: 960px) {
    width: 200px;
    height: 50px;
  }
}

.header__button-link {
  display: block;
  padding: 0;
  color: currentColor;
  font-weight: 500;
  white-space: nowrap;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: var(--grey);
  }

  &--menu {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  &--menu-close {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    min-width: 40px;
    height: 40px;

    @media (min-width: 960px) {
      justify-content: flex-end;
    }
  }

  &--express {
    display: none;
    justify-content: center;
    justify-self: flex-start;
    align-items: center;
    min-height: 48px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--light);
    border-radius: 99em;

    @media (min-width: 960px) {
      display: flex;
      margin-left: 60px;
    }

    @media (min-width: 1200px) {
      margin-left: 128px;
    }
  }

  &--project {
    display: none;

    @media (min-width: 960px) {
      display: block;
      justify-self: flex-end;
      margin-right: 40px;
    }

    @media (min-width: 1200px) {
      margin-right: 73px;
    }
  }
}

.header--menu {
  .header__button-link--express {
    display: flex;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    width: 100%;
    margin-left: unset;


    @media (min-width: 600px) {
      grid-row: unset;
      grid-column: unset;
      width: auto;
      margin-left: 60px;
    }

    @media (min-width: 1200px) {
      margin-left: 128px;
    }
  }
}

.header__button-text {
  display: none;

  @media (min-width: 960px) {
    display: block;
    margin-right: 10px;
  }
}

.header__burger-icon {
  width: 32px;
  height: 8px;
  fill: currentColor;

  @media (min-width: 960px) {
    width: 40px;
    height: 10px;
  }
}

.header__cross-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  stroke: currentColor;
}
