/* mailing-block */

.mailing-block {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--light);
  border-top: 1px solid var(--border-color);
  transform: translateY(100%);
  transition: 0.8s;

  &--active {
    transform: translateY(0);
  }
}

.mailing-block__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: center;
  }
}

.mailing-block__text {
  max-width: 400px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 900px) {
    max-width: none;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.mailing-block__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: none;
  }
}

.mailing-block__input {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);

  @media (min-width: 900px) {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 450px;
  }

  &::placeholder {
    color: var(--dark-grey);
    opacity: 0.3;
  }
}

.mailing-block__buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mailing-block__accept-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 48px;
  padding: 10px 30px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  text-transform: lowercase;
  background-color: var(--dark-grey);
  border: none;
  border-radius: 99em;
  cursor: pointer;

  &:hover {
    color: var(--dark-grey);
    background-color: var(--light-grey);
  }
}

.mailing-block__close-button {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-left: 16px;
  color: var(--light-grey);
  border: 1px solid currentColor;
  border-radius: 50%;

  &:hover {
    color: var(--dark-grey);
  }
}
