/* main-section */

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 88px);
  padding-top: 20px;
  padding-bottom: 140px;

  @media (min-width: 860px) {
    flex-direction: column-reverse;
    justify-content: flex-start;
    min-height: calc(100vh - 98px);
    padding-top: 20px;
    padding-bottom: 100px;
  }

  @media (min-width: 1400px) {
    padding-bottom: 175px;
  }
}

.main-section__slogan {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  pointer-events: none;

  @media (min-width: 320px) {
    font-size: calc(28px + (96 - 28) * ((100vw - 320px) / (1400 - 320)));
    line-height: 1.2;
  }

  @media (min-width: 860px) {
    margin-top: 70px;
    margin-bottom: 0;
  }

  @media (min-width: 1400px) {
    margin-top: 105px;
    font-size: 96px;
    line-height: 102px;
  }
}

.main-section__button {
  align-self: flex-start;

  @media (min-width: 860px) {
    align-self: flex-end;
    margin-right: 120px;
  }

  @media (min-width: 1400px) {
    margin-right: 188px;
  }
}
