/* main-section */

.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 88px);
  padding-top: 20px;
  padding-bottom: 140px;
}

@media (width >= 860px) {
  .main-section {
    flex-direction: column-reverse;
    justify-content: flex-start;
    min-height: calc(100vh - 98px);
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

@media (width >= 1400px) {
  .main-section {
    padding-bottom: 175px;
  }
}

.main-section__scene {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
}

.main-section__scene-img {
  position: absolute !important;
  top: var(--position-y, 50%) !important;
  left: var(--position-x, 50%) !important;
  display: block;
  width: 305px;
  height: 230px;
  will-change: transform;
  transform: translate(-50%, -50%);
  pointer-events: none;
  outline: 1px solid red;

  @media (width >= 1200px) {
    width: 500px;
    height: 380px;
  }
}

.main-section__slogan {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  pointer-events: none;

  @media (width >= 320px) {
    font-size: calc(28px + (96 - 28) * ((100vw - 320px) / (1400 - 320)));
    line-height: 1.2;
  }

  @media (width >= 860px) {
    margin-top: 70px;
    margin-bottom: 0;
  }

  @media (width >= 1400px) {
    margin-top: 105px;
    font-size: 96px;
    line-height: 102px;
  }
}

.main-section__button {
  align-self: flex-start;

  @media (width >= 860px) {
    align-self: flex-end;
    margin-right: 120px;
  }

  @media (width >= 1400px) {
    margin-right: 188px;
  }
}
