.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

.modal-open {
  display: flex;
}
