/* Page */

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__main {
  flex-grow: 1;

  &--full-height {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page__title {
  max-width: 1120px;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;

  @media (width >= 800px) {
    font-size: 30px;
    line-height: 36px;
  }

  @media (width >= 1200px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.page__title-container {
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);

  @media (width >= 768px) {
    margin-bottom: 60px;
    padding-bottom: 50px;
  }
}

.page__spinner-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  @media (width >= 860px) {
    height: 270px;
  }
}

.page__spinner {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}

.dark {
  .page__spinner {
    filter: invert(100%);
  }
}

.page__section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (width >= 800px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  &--grey {
    background-color: var(--bg-secondary-color);
  }

  &--without-padding-top {
    padding-top: 0;
  }
}

.page__section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (width >= 800px) {
    margin-bottom: 80px;
    font-size: 50px;
    line-height: 56px;
  }
}

.page__form-section {
  padding-top: 30px;
  padding-bottom: 60px;

  @media (width >= 800px) {
    padding-top: 72px;
    padding-bottom: 110px;
  }
}

.page__big-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (width >= 800px) {
    font-size: 50px;
    line-height: 56px;
  }

  @media (width >= 1200px) {
    font-size: 70px;
    line-height: 76px;
  }
}
