.products__top-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  padding-top: 80px;

  @media (min-width: 800px) {
    padding-top: 100px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 120px 40px;
    padding-top: 200px;
  }
}

.products__section {
  padding-top: 50px;

  @media (min-width: 800px) {
    padding-top: 160px;
  }
}

.products__form {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 800px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.products__title {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;

  @media (min-width: 1200px) {
    grid-column: span 7;
    font-size: 96px;
    line-height: 110px;
  }
}

.products__section-title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.products__descrition-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 20px;

  @media (min-width: 1200px) {
    grid-column: span 5;
  }
}

.products__description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.products__link {
  align-self: flex-start;
  margin-top: 40px;
}

.products__image {
  grid-column: 1 / -1;
  border-radius: 50px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.04), 0 -5px 32px rgba(0, 0, 0, 0.08);
}

.products__advantage-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: advantage;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.products__advantage-item {
  font-size: 18px;
  line-height: 24px;
  counter-increment: advantage;

  @media (min-width: 1200px) {
    padding-bottom: 46px;
    font-size: 22px;
    line-height: 28px;
    border-bottom: 1px solid var(--border-color);
  }

  &:nth-child(3n + 1) {
    @media (min-width: 1200px) {
      padding-right: calc(270px / 3);
    }
  }

  &:nth-child(3n + 2) {
    @media (min-width: 1200px) {
      padding-right: calc(270px / 6);
      padding-left: calc(270px / 6);
    }
  }

  &:nth-child(3n + 3) {
    @media (min-width: 1200px) {
      padding-left: calc(270px / 3);
    }
  }

  &::before {
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    content: counter(advantage, decimal-leading-zero) " ";

    @media (min-width: 800px) {
      color: var(--light-grey);
    }
  }
}

.products__similar-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--border-color);
  }
}
