/* service */

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 860px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &::before {
    display: block;
    width: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 26px;

    @media (min-width: 860px) {
      margin-right: 75px;
      margin-bottom: 0;
      color: var(--light-grey);
      font-size: 18px;
      line-height: 24px;
    }
  }

  &::after {
    display: none;
    order: 3;

    @media (min-width: 860px) {
      display: block;
    }
  }


  &--strategy {
    &::before {
      content: "01";
    }

    &::after {
      content: url("/img/strategy.svg");
      width: 180px;
      height: 60px;
    }
  }

  &--branding {
    &::before {
      content: "02";
    }

    &::after {
      content: url("/img/branding.svg");
      width: 180px;
      height: 60px;
    }
  }

  &--develop {
    &::before {
      content: "03";
    }

    &::after {
      content: url("/img/develop.svg");
      width: 180px;
      height: 60px;
    }
  }

  &--design {
    &::before {
      content: "04";
    }

    &::after {
      content: url("/img/design.svg");
      width: 180px;
      height: 60px;
    }
  }
}

.service__title {
  order: 2;
  min-width: 210px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  @media (min-width: 860px) {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 36px;
  }
}

.service__description {
  order: 4;
  max-width: 373px;
  margin: 0;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 860px) {
    margin-left: 5%;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1200px) {
    margin-left: 14.2%;
  }
}
