.services {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (width >= 860px) {
    padding-top: 200px;
    padding-bottom: 80px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: service;

  @media (width >= 800px) {
    grid-template-columns: 1fr 1fr;
  }
}

.services__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-color);
  counter-increment: service;

  @media (width >= 1480px) {
    grid-template-columns: 1fr 180px;
  }


  &:nth-child(even) {

    @media (width >= 800px) {
      padding-left: 20px;
    }

    @media (width >= 1480px) {
      padding-right: 135px;
    }

    .services__icon {
      right: 135px;
    }
  }

  &:nth-child(odd) {
    @media (width >= 800px) {
      padding-right: 20px;
    }

    @media (width >= 1480px) {
      padding-right: 155px;
    }

    .services__icon {
      right: 155px;
    }
  }

  &::before {
    display: block;
    grid-column: span 2;
    width: 24px;
    margin-bottom: 28px;
    color: var(--typo-secondary-color);
    font-size: 20px;
    line-height: 26px;
    content: counter(service, decimal-leading-zero) " ";
  }
}

.services__icon {
  position: absolute;
  bottom: 50px;
  display: none;
  width: 180px;
  height: 60px;

  @media (width >= 1480px) {
    display: block;;
  }
}

.services__item-link {
  transition: 0.3s;

  &:hover {
    color: var(--typo-ghost-color);
  }
}

.services__item-title {
  grid-column: span 2;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  transition: 0.3s;
}

.services__item-description {
  grid-column: span 2;
  margin: 0;
  margin-bottom: 36px;
  color: var(--typo-secondary-color);
}

.services__sub-list {
  grid-column: 1 / span 1;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: "— ";
}

.services__sub-list-item {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.services__section-title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (width >= 800px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.services__form {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (width >= 800px) {
    padding-top: 72px;
    padding-bottom: 110px;
  }
}
