.service-page__section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (min-width: 1200px) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  &--grey {
    background-color: var(--light);
  }

  &--top {
    padding-top: 50px;
    padding-bottom: 40px;

    @media (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 109px;
    }
  }

  &--column {
    order: 1;
    padding: 0;

    @media (min-width: 1200px) {
      order: unset;
    }
  }

  &--form {
    padding-top: 0;
  }
}

.service-page__section-title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.service-page__title-container {

  @media (min-width: 1200px) {
    position: relative;
    padding-right: 435px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--border-color);
  }

  &::after {
    @media (min-width: 1200px) {
      position: absolute;
      top: 0;
      right: 75px;
      width: 360px;
      height: 120px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: 360px 120px;
    }
  }

  &--develop::after {
    @media (min-width: 1200px) {
      background-image: url("/img/develop.svg");
    }
  }

  &--branding::after {
    @media (min-width: 1200px) {
      background-image: url("/img/branding.svg");
    }
  }

  &--design::after {
    @media (min-width: 1200px) {
      background-image: url("/img/design.svg");
    }
  }

  &--strategy::after {
    @media (min-width: 1200px) {
      background-image: url("/img/strategy.svg");
    }
  }
}

.service-page__description {
  max-width: 800px;
  margin: 0;
  margin-top: 26px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 960px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.service-page__container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 250px;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 512px;
  }
}

.service-page__stages {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: stages;
}

.service-page__stage {
  padding-top: 48px;
  padding-bottom: 50px;
  counter-increment: stages;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  &::before {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    content: counter(stages, decimal-leading-zero) " ";

    @media (min-width: 800px) {
      color: var(--light-grey);
    }
  }
}

.service-page__stage-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  @media (min-width: 960px) {
    font-size: 30px;
    line-height: 36px;
  }
}

.service-page__stage-description {
  margin: 0;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.service-page__aside {
  margin-top: 46px;
}

.service-page__aside-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  @media (min-width: 960px) {
    font-size: 30px;
    line-height: 36px;
  }
}

.service-page__aside-block {
  padding: 58px 0 40px;

  &--grey {
    margin-right: -16px;
    margin-left: -16px;
    padding: 32px 40px;
    background-color: var(--light);

    @media (min-width: 1200px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.service-page__aside-params {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: 500px) {
    grid-template-columns: 200px 1fr;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.service-page__aside-params-name {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 800px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.service-page__aside-params-value {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 800px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.servise-page__aside-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: "— ";
}

.service-page__aside-list-item {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 800px) {
    font-size: 18px;
    line-height: 24px;
  }

  &:not(:last-of-type) {
    margin-bottom: 9px;
  }
}

.service-page__aside-descr {
  margin: 0;
  margin-right: -16px;
  margin-left: -16px;
  padding: 26px 32px;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--light);

  @media (min-width: 1200px) {
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.service-page__develop-stages {
  display: grid;
  grid-template-columns: 1fr;
  gap: 95px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: develop-stages;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.service-page__develop-stage {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 16px 40px;
  counter-increment: develop-stages;

  &::before {
    display: block;
    grid-row: span 2;
    color: var(--light-grey);
    font-size: 18px;
    line-height: 24px;
    content: counter(develop-stages, decimal-leading-zero) " ";
  }
}

.service-page__develop-stage-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  @media (min-width: 960px) {
    font-size: 30px;
    line-height: 36px;
  }
}

.service-page__develop-stage-description {
  margin: 0;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.service-page__team-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: team;

  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
}

.service-page__team-item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 20px;
  line-height: 26px;
  border-top: 1px solid var(--border-color);
  counter-increment: team;

  @media (min-width: 860px) {
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    font-size: 30px;
    line-height: 36px;
  }

  &:nth-child(even) {
    @media (min-width: 960px) {
      padding-left: 20px;
    }
  }

  &:nth-child(8) {
    @media (min-width: 960px) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &:last-of-type {
    border-bottom: 1px solid var(--border-color);

    @media (min-width: 960px) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &::before {
    margin-right: 20px;
    color: var(--light-grey);
    font-size: 18px;
    line-height: 24px;
    content: counter(team, decimal-leading-zero) " ";

    @media (min-width: 860px) {
      margin-right: 112px;
    }
  }
}
