/* service */

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  counter-increment: service;

  @media (min-width: 860px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &::before {
    display: block;
    width: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 26px;
    content: counter(service, decimal-leading-zero) " ";

    @media (min-width: 860px) {
      margin-right: 75px;
      margin-bottom: 0;
      color: var(--light-grey);
      font-size: 18px;
      line-height: 24px;
    }
  }

  &::after {
    display: none;

    @media (min-width: 860px) {
      display: block;
      order: 3;
      width: 180px;
      height: 60px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: 180px 60px;
    }
  }

  &--strategy {
    &::after {
      background-image: url("/img/strategy.svg");
    }
  }

  &--branding {
    &::after {
      background-image: url("/img/branding.svg");
    }
  }

  &--develop {
    &::after {
      background-image: url("/img/develop.svg");
    }
  }

  &--design {
    &::after {
      background-image: url("/img/design.svg");
    }
  }
}

.service__title {
  order: 2;
  min-width: 210px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;

  @media (min-width: 860px) {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 36px;
  }
}

.service__description {
  order: 4;
  max-width: 373px;
  margin: 0;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 860px) {
    margin-left: 5%;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1200px) {
    margin-left: 14.2%;
  }
}

.service__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  font-size: 30px;
  background-color: var(--dark-grey);
  opacity: 0;
  transition: 0.2s;
  user-select: none;
}

.service:hover {
  .service__link {
    opacity: 1;
    user-select: auto;
  }
}
