/* tag */

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  padding: 4px 18px;
  color: var(--light-grey);
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid var(--light-grey);
  border-radius: 99em;
  cursor: pointer;
  transition: 0.3s;

  @media (width >= 1200px) {
    min-height: 38px;
    padding: 4px 18px;
    font-size: 16px;
    line-height: 22px;
  }

  &--active {
    color: var(--dark-grey);
    border-color: var(--dark-grey);
  }

  &:hover {
    border-color: var(--dark-grey);
  }
}
