@font-face {
  font-family: "GrandisExtended";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/GrandisExtended-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GrandisExtended";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/GrandisExtended-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GrandisExtended";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/GrandisExtended-Bold.woff2") format("woff2");
}
