:root {
  /* Basic colors */

  --yellow: #ffff50;
  --dark-grey: #262626;
  --grey: #858585;
  --light-grey: #b9b9b9;
  --light: #f8f8f8;
  --white: #ffffff;
  --border-color: #ebebeb;
  --red-color: #f34e4e;
  --blue-color: #1877f2;

  --bg-primary-color: var(--white);
  --bg-secondary-color: var(--light);
  --bg-dark-color: var(--dark-grey);

  --typo-primary-color: var(--dark-grey);
  --typo-secondary-color: var(--light-grey);
  --typo-contrast-color: var(--white);
  --typo-ghost-color: var(--grey);
}

.dark {
  --bg-primary-color: var(--dark-grey);
  --bg-secondary-color: #2E2E2E;
  --bg-dark-color: #1E1E1E;

  --typo-primary-color: var(--light);
  --typo-secondary-color: var(--light-grey);
  --typo-contrast-color: var(--dark-grey);
  --typo-ghost-color: var(--grey);
}

.dark-typo {
  --typo-primary-color: var(--light);
  --typo-secondary-color: var(--light-grey);
  --typo-contrast-color: var(--dark-grey);
  --typo-ghost-color: var(--grey);
}

.light-typo {
  --typo-primary-color: var(--dark-grey);
  --typo-secondary-color: var(--light-grey);
  --typo-contrast-color: var(--white);
  --typo-ghost-color: var(--grey);
}
