---
layout: page.njk
permalink: agency.html
---

<section class="agency__top-section container">
  <h1 class="agency__title">Опытные дизайнеры брендов и разработчики цифровых продуктов</h1>

  <div class="agency__description-container">
    <p class="agency__description">
      Мы комплексно подходим к созданию бренда: разрабатываем вместе с вами уникальную стратегию позиционирования, на её
      основе создаем название, слоган, тональность коммуникаций и яркий визуальный образ. Помогаем вывести бренд на
      рынок, готовим стратегию запуска и осуществляем поддержку. Разрабатываем и внедряем инструменты для формирования
      позитивного опыта потребителя во всех точках контакта с вашим брендом.
    </p>

    <p class="agency__description">
      Специализируемся на разработке брендов, сложных веб сервисов, креативе и качественных носителях. Мы нацелены на
      создание эмоциональных брендов, которые вдохновляют людей. Влюбившись в ваш бренд, потребитель захочет рассказать
      о нем своим друзьям и близким. Такой подход к брендингу повысит ваши шансы на успех в конкурентной борьбе.
    </p>
  </div>

  <a class="button agency__download" href="#" download>
    <span class="button__icon-wrapper">
      <svg class="button__icon" width="24" height="24">
        <use xlink:href="/img/sprite.svg#arrow-right"></use>
      </svg>
    </span>

    <span class="button__text">скачать презентацию PDF</span>
  </a>
</section>

<section class="agency__video-section">
  <h2 class="visually-hidden">Видео об агентстве</h2>
  <video id="video" class="video-section__video js-video" src="/img/video.mp4" poster="img/poster.jpg" muted preload="none" loop></video>

  <button class="video-section__button video-section__button--play video-section__button--active js-play" type="button" aria-label="Play video" aria-controls="video">
  </button>

  <button class="video-section__button video-section__button--pause js-pause" type="button" aria-label="Pause video" aria-controls="video">
  </button>
</section>

<section class="page__section container">
  <h2 class="page__section-title">
    Наш подход
  </h2>

  <ul class="agency__approach-list">
    <li class="agency__approach-item">
      <h3 class="agency__approach-title">Уникальность</h3>
      <p class="agency__approach-descr">Все проекты оформляются юридически. Условия, сроки и наши гарантийные
        обязательства прописываются в договоре</p>
    </li>

    <li class="agency__approach-item">
      <h3 class="agency__approach-title">Фокусировка</h3>
      <p class="agency__approach-descr">Комфортный график платежей с поэтапной предоплатой, а окончательный расчет
        всегда по завершению проекта</p>
    </li>

    <li class="agency__approach-item">
      <h3 class="agency__approach-title">Последовательность</h3>
      <p class="agency__approach-descr">Разрабатываем прототип, дизайн всех страниц сайта. Верстаем под все устройства.
        Кодируем согласно макетам. Тестируем</p>
    </li>

    <li class="agency__approach-item">
      <h3 class="agency__approach-title">Подтверждение</h3>
      <p class="agency__approach-descr">В среднем разработка подобного проекта занимает 6-8 месяцев, включая
        согласование, но исключая доп. доработки</p>
    </li>
  </ul>
</section>

<section class="page__section page__section--grey">
  <h2 class="visually-hidden">Наш подход</h2>

  <p class="agency__full-section-text container">
    В мире сложно без хорошего дизайна. Мы создаем чистый, уникальный
    и современный дизайн, креативные концепции и работающие технологии. Свободное брендинговое агентство
    из России.
  </p>
</section>

<section class="page__section">
  <h2 class="page__section-title container">
    Наши клиенты
  </h2>

  <div class="agency__clients">
    <div class="agency__clients-wrapper">
      <ul class="agency__clients-list agency__clients-list--first">
        <li class="agency__client">Sberbank</li>
        <li class="agency__client">Invitro</li>
        <li class="agency__client">Евраз</li>
        <li class="agency__client">Мосдерм</li>
        <li class="agency__client">Voxel</li>
        <li class="agency__client">VSK Group</li>
        <li class="agency__client">Intouch</li>
        <li class="agency__client">YUSAR</li>
        <li class="agency__client">Alfa System</li>
        <li class="agency__client">PATENTUS</li>
        <li class="agency__client">ILM GROUP</li>
      </ul>
    </div>

    <div class="agency__clients-wrapper">
      <ul class="agency__clients-list agency__clients-list--second">
        <li class="agency__client">Sberbank</li>
        <li class="agency__client">Invitro</li>
        <li class="agency__client">Евраз</li>
        <li class="agency__client">Мосдерм</li>
        <li class="agency__client">Voxel</li>
        <li class="agency__client">VSK Group</li>
        <li class="agency__client">Intouch</li>
        <li class="agency__client">YUSAR</li>
        <li class="agency__client">Alfa System</li>
        <li class="agency__client">PATENTUS</li>
        <li class="agency__client">ILM GROUP</li>
      </ul>
    </div>

    <div class="agency__clients-wrapper">
      <ul class="agency__clients-list agency__clients-list--third">
        <li class="agency__client">Sberbank</li>
        <li class="agency__client">Invitro</li>
        <li class="agency__client">Евраз</li>
        <li class="agency__client">Мосдерм</li>
        <li class="agency__client">Voxel</li>
        <li class="agency__client">VSK Group</li>
        <li class="agency__client">Intouch</li>
        <li class="agency__client">YUSAR</li>
        <li class="agency__client">Alfa System</li>
        <li class="agency__client">PATENTUS</li>
        <li class="agency__client">ILM GROUP</li>
      </ul>
    </div>
  </div>
</section>

<section class="agency__feedback-section">
  <div class="feedback-section__title-container container">
    <h2 class="feedback-section__title">Отзывы</h2>

    <a class="button feedback-section__button" href="/feedback.html">
      <span class="button__icon-wrapper">
        <svg class="button__icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#arrow-right"></use>
        </svg>
      </span>

      <span class="button__text">все отзывы</span>
    </a>
  </div>


  <div class="feedback-section__list-container">
    <div class="container">
      <ul class="feedback-section__list">
        <li class="feedback-section__item feedback-section__item--active">
          <blockquote class="feedback">
            <h3 class="feedback__title">Мосдерм</h3>

            <p class="feedback__text">
              Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии
              www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов
              решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только
              положительные эмоции.
            </p>

            <cite class="feedback__author">
              <img class="feedback__author-avatar" width="72" height="72" src="/img/feedback1@1x.jpg"
                srcset="/img/feedback1@2x.jpg 2x" alt="Александр Игнатьев">
              <span class="feedback__name">Александр Игнатьев</span>
              <span class="feedback__role">Директор по развитию</span>
            </cite>

            <div class="feedback__actions">
              <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
                <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
                  <use xlink:href="/img/sprite.svg#play"></use>
                </svg>

                <span class="feedback__watch-link-text">смотреть отзыв</span>
              </a>

              <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
                читать на facebook
              </a>

              <button class="button feedback__next-button" type="button" aria-label="Следующий отзыв">
                <svg class="feedback__next-button-icon" width="24" height="24" aria-hidden="true">
                  <use xlink:href="/img/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </blockquote>
        </li>

        <li class="feedback-section__item">
          <blockquote class="feedback">
            <h3 class="feedback__title">Мосдерм</h3>

            <p class="feedback__text">
              Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии
              www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов
              решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только
              положительные эмоции.
            </p>

            <cite class="feedback__author">
              <img class="feedback__author-avatar" width="72" height="72" src="/img/feedback1@1x.jpg"
                srcset="/img/feedback1@2x.jpg 2x" alt="Александр Игнатьев">
              <span class="feedback__name">Александр Игнатьев</span>
              <span class="feedback__role">Директор по развитию</span>
            </cite>

            <div class="feedback__actions">
              <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
                <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
                  <use xlink:href="/img/sprite.svg#play"></use>
                </svg>

                <span class="feedback__watch-link-text">смотреть отзыв</span>
              </a>

              <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
                читать на facebook
              </a>

              <button class="button feedback__next-button" type="button" aria-label="Следующий отзыв">
                <svg class="feedback__next-button-icon" width="24" height="24" aria-hidden="true">
                  <use xlink:href="/img/sprite.svg#arrow-right"></use>
                </svg>
              </button>
            </div>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="page__section container">
  <h2 class="page__section-title">
    Наша команда
  </h2>

  <ul class="agency__team-list">
    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>

    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>

    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>

    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>

    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>

    <li class="agency__team-item">
      <figure class="agency__member">
        <div class="agency__member-photo-wrapper">
          <img class="agency__member-photo" width="513" height="470" src="/img/member@1x.jpg"
              srcset="/img/member@2x.jpg 2x" alt="Владимир Ильичёв">
        </div>

        <figcaption class="agency__member-name-container">
          <span class="agency__member-name">Владимир Ильичёв</span>
          <span class="agency__member-role">Основатель, арт-директор</span>
        </figcaption>
      </figure>
    </li>
  </ul>

  <div class="agency__link-container">
    <a class="button agency__download" href="/vacancies.html">
      <span class="button__icon-wrapper">
        <svg class="button__icon" width="24" height="24">
          <use xlink:href="/img/sprite.svg#arrow-right"></use>
        </svg>
      </span>

      <span class="button__text">смотреть открытые вакансии</span>
    </a>
  </div>
</section>

<section class="page__form-section container">
  <h2 class="page__section-title">Начать проект</h2>

  <form class="form" method="POST" action="https://echo.htmlacademy.ru/">
    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-name">имя и фамилия</label>
      <input class="form__text-field" type="text" id="shrot-form-name" name="shrot-form-name">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-company">компания</label>
      <input class="form__text-field" type="text" id="shrot-form-company" name="shrot-form-company">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-email">email</label>
      <input class="form__text-field" type="email" id="shrot-form-email" name="shrot-form-email" required
              autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-phone">телефон</label>
      <input class="form__text-field" type="tel" id="shrot-form-phone" name="shrot-form-phone" required
            pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
            autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-task">описание задачи</label>
      <input class="form__text-field" type="text" id="shrot-form-task" name="shrot-form-task">
    </div>

    <div class="form__row form__row--bottom form__row--submit">
      <button class="button" type="submit">
        <span class="button__icon-wrapper">
          <svg class="button__icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </span>

        <span class="button__text">отправить заявку</span>
      </button>

      <input class="visually-hidden" id="short-form-file" type="file" name="short-form-file">
      <label class="form__file" for="short-form-file">
        <span class="form__file-icon-wrapper">
          <svg class="form__file-icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#add-file"></use>
          </svg>
        </span>

        <span class="form__file-text">
          прикрепить файл<br>
          <small>не более 10mb</small>
        </span>
      </label>
    </div>

    <p class="form__text">
      Отправляя заявку, я соглашаюсь передать свои персональные данные, содержащиеся в анкете и всех приложенных файлах. Я понимаю и соглашаюсь, что мои данные будут храниться и обрабатываться в течение пяти лет, в соответствии с Федеральным законом «О персональных данных».
    </p>
  </form>
</section>
