---
layout: map.njk
permalink: article.html
---

<section class="article-page container">
  <div class="article__tag-line">
    <span class="article__tag">Дизайн</span>
    <time class="article__date" datetime="2021-06-23">23 июня 2021</time>
    <span class="article__views">1559</span>
  </div>

  <h1 class="page__title">Этапы создания бренда, его ценность и наш подход к разработке</h1>

  <p class="service-page__description">
    Разработка бренда - процесс хоть и очень увлекательный, но достаточно сложный, требующий необходимого опыта, навыков и знаний.
  </p>

  <img class="service-page__main-image" width="1620" height="600"
        src="/img/project-top@1x.jpg"
        srcset="/img/project-top@2x.jpg 2x"
        alt="Проект компании ILM Group">

  <div class="service-page__container">
    <div class="service-page__content">
      <h2>Разберемся вместе на примере передовой компании Apple!</h2>
      <p>Любители “яблока” в России не изменяют бренду даже при наличии на рынке конкурентных моделей с лучшими характеристиками и по более низкой цене. Люди готовы утопать в кредитах, скупая последние модели любимых девайсов.</p>
      <p>Другими словами, приверженцы бренда Apple готовы покупать товары любимого производителя за любые деньги!</p>
      <p>Хотели бы вы такую любовь покупателей к вашим продуктам?</p>
      <p>Все дело в том, что вместе с отличным качеством человек приобретает “привилегию быть покупателем Apple”. И это дает ощущение счастья! Такая тесная связь удовольствия с брендом - чудесное мастерство маркетологов Apple.</p>
      <p>Вывод: когда ваш бренд нравится покупателям, становится популярным, делает обладание вашего товара причастным к чему-то большему… - стоимость вашего продукта может вырасти в разы!</p>
      <p>И задача маркетинга донести до покупателя все преимущества вашего продукта, сделать его максимально привлекательным и вызвать желание приобрести его как можно скорей!</p>
      <p>Как мы работаем над созданием Вашего бренда?</p>

      <h2>Первый шаг: знакомство с покупателем</h2>

      <p>Первое, с чего мы начинаем работу, это изучение необходимого сегмента рынка и вашей целевой аудитории, т.е. будущих покупателей вашего продукта. Что им нравится? Что для них важно?</p>
      <p>Что движет ими при выборе товаров и совершении покупок?</p>
      <p>Как ваш покупатель будет взаимодействовать с вашим продуктом? Получая ответы на все эти вопросы, мы составляем “портрет Покупателя”. Хорошо понимая его ценности, мы стараемся отразить в создаваемом бренде именно то, что покупатель хочет в нем видеть.</p>

      <h2>Второй шаг: знакомство с конкурентами</h2>

      <p>Далее мы проводим конкурентный анализ рынка. При разработке бренда важно не быть похожим, а выгодно отличаться от других игроков рынка.</p>
      <p>Но как выделиться из сотни других предложений? Ответ на этот вопрос - одна из задач, которую мы решаем на этапе разработки бренда. </p>

      <h2>Третий шаг: разработка стратегии позиционирования</h2>

      <p>Теперь, когда у нас есть портрет покупателя, и мы хорошо знакомы с предложениями конкурентов, с учетом этих данных мы разрабатываем позиционирование бренда на рынке. </p>
      <p>Мы определяем конкурентные преимущества нашего продукта и формируем идейное рекламно-маркетинговое сообщение. </p>
      <p>Мы создаем наиболее эффективные методы воздействия на нашу ЦА и стратегии установки коммуникативных связей с потребителем. </p>
      <p>Мы определяем, какие эмоции и ассоциации у целевой аудитории должен вызывать ваш бренд.</p>
    </div>

    <article class="article">
      <span class="article__tag">Дизайн</span>
      <time class="article__date" datetime="2021-06-23">23 июня 2021</time>
      <span class="article__views">1559</span>

      <h3 class="article__title">Выравнивание в Figma: Auto Layout</h3>

      <p class="article__description">Разберемся, как его соблюдать при разработке сайта и чем грозит нарушение владельцу</p>

      <img class="article__image" width="790" height="500"
            src="/img/mosderm@1x.jpg"
            srcset="/img/mosderm@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <a class="button article__link" href="/article.html">
        <span class="button__icon-wrapper">
          <svg class="button__icon" width="24" height="24" aria-hidden="true">
            <use xlink:href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </span>

        <span class="button__text">читать статью</span>
      </a>
    </article>
  </div>



</section>

<section class="article-page__similar container">
  <h2 class="article-page__section-title">Похожие статьи</h2>

  <ul class="article-page__similar-list">
    <li class="article-page__similar-item">
      <article class="article">
        <span class="article__tag">Дизайн</span>
        <time class="article__date" datetime="2021-06-23">23 июня 2021</time>
        <span class="article__views">1559</span>

        <h3 class="article__title">Выравнивание в Figma: Auto Layout</h3>

        <p class="article__description">Разберемся, как его соблюдать при разработке сайта и чем грозит нарушение владельцу</p>

        <img class="article__image" width="790" height="500"
              src="/img/mosderm@1x.jpg"
              srcset="/img/mosderm@2x.jpg 2x"
              alt="Проект компании ILM Group">

        <a class="button article__link" href="/article.html">
          <span class="button__icon-wrapper">
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </span>

          <span class="button__text">читать статью</span>
        </a>
      </article>
    </li>
    <li class="article-page__similar-item">
      <article class="article">
        <span class="article__tag">Дизайн</span>
        <time class="article__date" datetime="2021-06-23">23 июня 2021</time>
        <span class="article__views">1559</span>

        <h3 class="article__title">Выравнивание в Figma: Auto Layout</h3>

        <p class="article__description">Разберемся, как его соблюдать при разработке сайта и чем грозит нарушение владельцу</p>

        <img class="article__image" width="790" height="500"
              src="/img/mosderm@1x.jpg"
              srcset="/img/mosderm@2x.jpg 2x"
              alt="Проект компании ILM Group">

        <a class="button article__link" href="/article.html">
          <span class="button__icon-wrapper">
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </span>

          <span class="button__text">читать статью</span>
        </a>
      </article>
    </li>
    <li class="article-page__similar-item">
      <article class="article article--special">
        <span class="article__tag">Дизайн</span>
        <time class="article__date" datetime="2021-06-23">23 июня 2021</time>
        <span class="article__views">1559</span>

        <h3 class="article__title">
          <a href="/article.html">
            Выравнивание в Figma: Auto Layout
          </a>
        </h3>

        <p class="article__description">Разберемся, как его соблюдать при разработке сайта и чем грозит нарушение владельцу</p>

        <img class="article__image" width="790" height="500"
              src="/img/mosderm@1x.jpg"
              srcset="/img/mosderm@2x.jpg 2x"
              alt="Проект компании ILM Group">
      </article>
    </li>
  </ul>

  <div class="article-page__button-container">
    <button class="button" type="button">
      <span class="button__icon-wrapper">
        <svg class="button__icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#arrow-down"></use>
        </svg>
      </span>

      <span class="button__text">загрузить ещё</span>
    </button>
  </div>
</section>
