---
layout: page.njk
permalink: documents.html
---

<section class="documents container">
  <div class="page__title-container documents__title-container">
    <h1 class="page__title">Документы</h1>

    <p class="documents__description">
      Мы собрали все возможные формы и документы в одном месте чтобы облегчить наше сотрудничество
    </p>
  </div>

  <div class="documents__container">
    <ul class="documents__menu">
      <li class="documents__menu-item">
        <a class="documents__menu-link documents__menu-link--current" href="#">Основные документы</a>
      </li>
      <li class="documents__menu-item">
        <a class="documents__menu-link" href="#">Брифы</a>
      </li>
      <li class="documents__menu-item">
        <a class="documents__menu-link" href="#">Правовые документы</a>
      </li>
    </ul>

    <ul class="documents__item-list">
      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Типовый договор</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>

      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Реквизиты</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>

      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Приложение на разработку сайта</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>

      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Приложение на разработку фирменного стиля</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>

      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Приложение на разработку нейминга</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>

      <li class="documents__item">
        <article class="collapse-item">
          <div class="collapse-item__title-wrapper">
            <h3 class="collapse-item__title">Приложение на проведение маркетингового исследования</h3>

            <button class="collapse-item__button button" type="button" aria-label="Развернуть">
              <svg class="collapse-item__button-icon" width="16" height="16">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>

          <div class="collapse-item__container">
            <p class="collapse-item__description documents__link-container">
              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-down"></use>
                  </svg>
                </span>

                <span class="button__text">скачать</span>
              </a>

              <a class="button documents__link" href="#">
                <span class="button__icon-wrapper">
                  <svg class="button__icon" width="24" height="24" aria-hidden="true">
                    <use xlink:href="/img/sprite.svg#arrow-right"></use>
                  </svg>
                </span>

                <span class="button__text">заполнить онлайн</span>
              </a>
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
