---
layout: page.njk
permalink: feedback.html
---

<div class="feedback-page container">
  <div class="feedback-page__title-container">
    <h1 class="page__title">Отзывы клиентов</h1>
  </div>

  <ul class="feedback-page__list">
    <li class="feedback-page__item">
      <blockquote class="feedback">
        <h3 class="feedback__title">Мосдерм</h3>

        <p class="feedback__text feedback__text--small">
          Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
        </p>

        <cite class="feedback__author">
          <img class="feedback__author-avatar" width="72" height="72"
              src="/img/feedback1@1x.jpg"
              srcset="/img/feedback1@2x.jpg 2x"
              alt="Александр Игнатьев">
          <span class="feedback__name">Александр Игнатьев</span>
          <span class="feedback__role">Директор по развитию</span>
        </cite>

        <div class="feedback__actions">
          <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#play"></use>
            </svg>

            <span class="feedback__watch-link-text">смотреть отзыв</span>
          </a>

          <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            читать на facebook
          </a>
        </div>
      </blockquote>
    </li>

    <li class="feedback-page__item">
      <blockquote class="feedback">
        <h3 class="feedback__title">Мосдерм</h3>

        <p class="feedback__text feedback__text--small">
          Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
        </p>

        <cite class="feedback__author">
          <img class="feedback__author-avatar" width="72" height="72"
              src="/img/feedback1@1x.jpg"
              srcset="/img/feedback1@2x.jpg 2x"
              alt="Александр Игнатьев">
          <span class="feedback__name">Александр Игнатьев</span>
          <span class="feedback__role">Директор по развитию</span>
        </cite>

        <div class="feedback__actions">
          <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#play"></use>
            </svg>

            <span class="feedback__watch-link-text">смотреть отзыв</span>
          </a>

          <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            читать на facebook
          </a>
        </div>
      </blockquote>
    </li>

    <li class="feedback-page__item feedback-page__item--full">
      <blockquote class="feedback">
        <h3 class="feedback__title">Мосдерм</h3>

        <p class="feedback__text feedback__text--single">
          Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
        </p>

        <cite class="feedback__author">
          <img class="feedback__author-avatar" width="72" height="72"
              src="/img/feedback1@1x.jpg"
              srcset="/img/feedback1@2x.jpg 2x"
              alt="Александр Игнатьев">
          <span class="feedback__name">Александр Игнатьев</span>
          <span class="feedback__role">Директор по развитию</span>
        </cite>

        <div class="feedback__actions">
          <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#play"></use>
            </svg>

            <span class="feedback__watch-link-text">смотреть отзыв</span>
          </a>

          <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            читать на facebook
          </a>
        </div>
      </blockquote>
    </li>

    <li class="feedback-page__item">
      <blockquote class="feedback">
        <h3 class="feedback__title">Мосдерм</h3>

        <p class="feedback__text feedback__text--small">
          Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
        </p>

        <cite class="feedback__author">
          <img class="feedback__author-avatar" width="72" height="72"
              src="/img/feedback1@1x.jpg"
              srcset="/img/feedback1@2x.jpg 2x"
              alt="Александр Игнатьев">
          <span class="feedback__name">Александр Игнатьев</span>
          <span class="feedback__role">Директор по развитию</span>
        </cite>

        <div class="feedback__actions">
          <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#play"></use>
            </svg>

            <span class="feedback__watch-link-text">смотреть отзыв</span>
          </a>

          <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            читать на facebook
          </a>
        </div>
      </blockquote>
    </li>

    <li class="feedback-page__item">
      <blockquote class="feedback">
        <h3 class="feedback__title">Мосдерм</h3>

        <p class="feedback__text feedback__text--small">
          Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
        </p>

        <cite class="feedback__author">
          <img class="feedback__author-avatar" width="72" height="72"
              src="/img/feedback1@1x.jpg"
              srcset="/img/feedback1@2x.jpg 2x"
              alt="Александр Игнатьев">
          <span class="feedback__name">Александр Игнатьев</span>
          <span class="feedback__role">Директор по развитию</span>
        </cite>

        <div class="feedback__actions">
          <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#play"></use>
            </svg>

            <span class="feedback__watch-link-text">смотреть отзыв</span>
          </a>

          <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
            читать на facebook
          </a>
        </div>
      </blockquote>
    </li>
  </ul>

  <div class="page__spinner-block">
    <img class="page__spinner page__spinner--active" src="/img/spinner.svg" alt="" aria-hidden="true">
  </div>
</div>
