---
layout: page.njk
permalink: glosario.html
---

<section class="glosario container">
  <div class="page__title-container glosario__title-container">
    <h1 class="page__title">Глоссарий</h1>
  </div>

  <div class="glosario__container">
    <div class="glosario__search-section">
      <input class="glosario__search" type="search" id="search" name="search" placeholder="Найти">

      <ul class="glosario__menu">
        <li class="glosario__menu-item">
          <a class="glosario__menu-link glosario__menu-link--current" href="#">Брендинг</a>
        </li>
        <li class="glosario__menu-item">
          <a class="glosario__menu-link" href="#">Дизайн</a>
        </li>
        <li class="glosario__menu-item">
          <a class="glosario__menu-link" href="#">Веб-разработка</a>
        </li>
        <li class="glosario__menu-item">
          <a class="glosario__menu-link" href="#">Коммуникации</a>
        </li>
        <li class="glosario__menu-item">
          <a class="glosario__menu-link" href="#">Социальные сети</a>
        </li>
        <li class="glosario__menu-item">
          <a class="glosario__menu-link" href="#">Маркетинг</a>
        </li>
      </ul>
    </div>

    <ul class="glosario__item-list">
      <li class="collapse-item">
        <div class="collapse-item__title-wrapper">
          <h2 class="collapse-item__title">Брифование</h2>

          <button class="collapse-item__button button" type="button" aria-label="Развернуть">
            <svg class="collapse-item__button-icon" width="16" height="16">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
        </div>

        <div class="collapse-item__container">
          <p class="collapse-item__description">
            Мы хотим вам помочь лучше понимать нас, поэтому заботливо составили словарь терминов, которые мы используем в работе. Предлагаем вам изучить его и использовать в качестве шпаргалки в работе с нами или с любыми другими вашими подрядчиками.
          </p>
        </div>
      </li>

      <li class="collapse-item">
        <div class="collapse-item__title-wrapper">
          <h2 class="collapse-item__title">Конфиденциальность</h2>

          <button class="collapse-item__button button" type="button" aria-label="Развернуть">
            <svg class="collapse-item__button-icon" width="16" height="16">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
        </div>

        <div class="collapse-item__container">
          <p class="collapse-item__description">
            Мы хотим вам помочь лучше понимать нас, поэтому заботливо составили словарь терминов, которые мы используем в работе. Предлагаем вам изучить его и использовать в качестве шпаргалки в работе с нами или с любыми другими вашими подрядчиками.
          </p>
        </div>
      </li>

      <li class="collapse-item">
        <div class="collapse-item__title-wrapper">
          <h2 class="collapse-item__title">Карта сайта</h2>

          <button class="collapse-item__button button" type="button" aria-label="Развернуть">
            <svg class="collapse-item__button-icon" width="16" height="16">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
        </div>

        <div class="collapse-item__container">
          <p class="collapse-item__description">
            Мы хотим вам помочь лучше понимать нас, поэтому заботливо составили словарь терминов, которые мы используем в работе. Предлагаем вам изучить его и использовать в качестве шпаргалки в работе с нами или с любыми другими вашими подрядчиками.
          </p>
        </div>
      </li>

      <li class="collapse-item">
        <div class="collapse-item__title-wrapper">
          <h2 class="collapse-item__title">Куки-файлы</h2>

          <button class="collapse-item__button button" type="button" aria-label="Развернуть">
            <svg class="collapse-item__button-icon" width="16" height="16">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
        </div>

        <div class="collapse-item__container">
          <p class="collapse-item__description">
            Мы хотим вам помочь лучше понимать нас, поэтому заботливо составили словарь терминов, которые мы используем в работе. Предлагаем вам изучить его и использовать в качестве шпаргалки в работе с нами или с любыми другими вашими подрядчиками.
          </p>
        </div>
      </li>

      <li class="collapse-item">
        <div class="collapse-item__title-wrapper">
          <h2 class="collapse-item__title">Договор</h2>

          <button class="collapse-item__button button" type="button" aria-label="Развернуть">
            <svg class="collapse-item__button-icon" width="16" height="16">
              <use xlink:href="img/sprite.svg#cross"></use>
            </svg>
          </button>
        </div>

        <div class="collapse-item__container">
          <p class="collapse-item__description">
            Мы хотим вам помочь лучше понимать нас, поэтому заботливо составили словарь терминов, которые мы используем в работе. Предлагаем вам изучить его и использовать в качестве шпаргалки в работе с нами или с любыми другими вашими подрядчиками.
          </p>
        </div>
      </li>
    </ul>

    <ul class="glosario__collapse-menu">
      <li class="glosario__collapse-menu-item">
        <a class="glosario__collapse-menu-link glosario__collapse-menu-link--current" href="#">Брифование</a>
      </li>
      <li class="glosario__collapse-menu-item">
        <a class="glosario__collapse-menu-link" href="#">Конфиденциальность</a>
      </li>
      <li class="glosario__collapse-menu-item">
        <a class="glosario__collapse-menu-link" href="#">Карта сайта</a>
      </li>
      <li class="glosario__collapse-menu-item">
        <a class="glosario__collapse-menu-link" href="#">Куки-файлы</a>
      </li>
      <li class="glosario__collapse-menu-item">
        <a class="glosario__collapse-menu-link" href="#">Договор</a>
      </li>
    </ul>
  </div>

  <div class="page__spinner-block">
    <img class="page__spinner page__spinner--active" src="/img/spinner.svg" alt="" aria-hidden="true">
  </div>

</section>
