---
layout: page.njk
permalink: map.html
---

<div class="container map">
  <h1 class="page__title">Карта сайта</h1>

  <div class="map__wrapper">
    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Ректор МГУ</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Из рабочего графика ректора</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Интервью с ректором</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Учеба</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Лицензия</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Свидетельство о государственной аккредитации</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Высшее образование</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Общая информация</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Информация на сайтах факультетов</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Международное сотрудничество</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Иностранным абитуриентам</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Программы академической мобильности</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Зарубежные партнеры</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Кампусы Московского университета за рубежом</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Международные образовательные центры МГУ</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Новостные ленты</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Новости</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Новости сайта</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Объявления</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Поступающим</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Прием в МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Олимпиады школьников и универсиады</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Полезная информация для абитуриентов</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Подготовка к поступлению</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Информация о факультетах МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Информация о филиалах МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Обучение иностранцев в МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Полезная информация для абитуриентов</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Новостные ленты</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Новости</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Новости сайта</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Объявления</a>
        </li>
      </ul>
    </article>

    <article class="map__section">
      <h2 class="map__section-title">
        <a class="map__link" href="#">Поступающим</a>
      </h2>

      <ul class="map__list">
        <li class="map__list-item">
          <a class="map__link">Прием в МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Олимпиады школьников и универсиады</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Полезная информация для абитуриентов</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Подготовка к поступлению</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Информация о факультетах МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Информация о филиалах МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Обучение иностранцев в МГУ</a>
        </li>
        <li class="map__list-item">
          <a class="map__link">Полезная информация для абитуриентов</a>
        </li>
      </ul>
    </article>
  </div>
</div>
