---
layout: page.njk
permalink: projects.html
---

<section class="projects container">
  <div class="projects__title-container">
    <h1 class="page__title">Взгляните на некоторые идеи, реализованые нами</h1>

    <ul class="projects__tags tags">
      <li class="tags__item">
        <button class="tag tag--active" type="button">Все проекты</button>
      </li>
      <li class="tags__item">
        <button class="tag" type="button">Продукт</button>
      </li>
      <li class="tags__item">
        <button class="tag" type="button">Брендинг</button>
      </li>
      <li class="tags__item">
        <button class="tag" type="button">Стратегия</button>
      </li>
      <li class="tags__item">
        <button class="tag" type="button">Разработка</button>
      </li>
      <li class="tags__item">
        <button class="tag" type="button">Дизайн</button>
      </li>
    </ul>

    <div class="projects__toogle-container">
      <button class="projects__toogle-button js-toogle-blocks" type="button" aria-label="Показать плиткой">
        <svg class="button__icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#sort-blocks"></use>
        </svg>
      </button>

      <button class="projects__toogle-button js-toogle-lines" type="button" aria-label="Показать списком">
        <svg class="button__icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#sort-lines"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="cases-section projects__content">
    <ul class="cases-section__list">
      <li class="cases-section__item">
        <article class="case">
          <h3 class="case__title">ILM Group</h3>
          <p class="case__description">Обновили логотип и фирменный стиль бренда. Создали необходимые носители</p>
          <img class="case__image" width="790" height="500"
              src="/img/ilm-group@1x.jpg"
              srcset="/img/ilm-group@2x.jpg 2x"
              alt="Проект компании ILM Group">

          <a class="button case__link" href="/project.html">
            <span class="button__icon-wrapper">
              <svg class="button__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#arrow-right"></use>
              </svg>
            </span>

            <span class="button__text">посмотреть кейс<span>
          </a>
        </article>
      </li>

      <li class="cases-section__item">
        <article class="case">
          <h3 class="case__title">Мосдерм</h3>
          <p class="case__description">Обновление айдентики компании. Новый логотип, фирменный стиль, веб-сайт</p>
          <img class="case__image" width="790" height="500"
          src="/img/mosderm@1x.jpg"
          srcset="/img/mosderm@2x.jpg 2x"
          alt="Проект компании Мосдерм">

          <a class="button case__link" href="/project.html">
            <span class="button__icon-wrapper">
              <svg class="button__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#arrow-right"></use>
              </svg>
            </span>

            <span class="button__text">посмотреть кейс<span>
          </a>
        </article>
      </li>

      <li class="cases-section__item">
        <article class="case">
          <h3 class="case__title">ОМС Плюс</h3>
          <p class="case__description">Обновление логотипа, фирменного стиля, разработка сайта с ЛК</p>
          <img class="case__image" width="790" height="500"
          src="/img/oms@1x.jpg"
          srcset="/img/oms@2x.jpg 2x"
          alt="Проект компании ОМС Плюс">

          <a class="button case__link" href="/project.html">
            <span class="button__icon-wrapper">
              <svg class="button__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#arrow-right"></use>
              </svg>
            </span>

            <span class="button__text">посмотреть кейс<span>
          </a>
        </article>
      </li>

      <li class="cases-section__item">
        <article class="case">
          <h3 class="case__title">ОМС Плюс</h3>
          <p class="case__description">Обновление логотипа, фирменного стиля, разработка сайта с ЛК</p>
          <img class="case__image" width="790" height="500"
          src="/img/oms@1x.jpg"
          srcset="/img/oms@2x.jpg 2x"
          alt="Проект компании ОМС Плюс">

          <a class="button case__link" href="/project.html">
            <span class="button__icon-wrapper">
              <svg class="button__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#arrow-right"></use>
              </svg>
            </span>

            <span class="button__text">посмотреть кейс<span>
          </a>
        </article>
      </li>
    </ul>
  </div>

  <div class="page__spinner-block">
    <img class="page__spinner page__spinner--active" src="/img/spinner.svg" alt="" aria-hidden="true">
  </div>
</section>
