---
layout: page.njk
permalink: project.html
---

<section class="project container">
  <div class="project__title-container">
    <h1 class="page__title">Обновление фирменного стиля компании Мосдерм. Новый логотип, фирменный стиль и сайт</h1>

    <ul class="project__tags">
      <li class="project__tag-item">≈ 850 000 ₽</li>
      <li class="project__tag-item">2021</li>
    </ul>

    <div class="project__info-bar">
      <ul class="project__works-list">
        <li class="project__client-name">Клиент: Мосдерм</li>
        <li class="project__work-item">Стратегия</li>
        <li class="project__work-item">Брендинг</li>
        <li class="project__work-item">Дизайн</li>
        <li class="project__work-item">Разработка</li>
      </ul>

      <a class="project__link" href="#">www.mosderm.ru</a>
    </div>
  </div>

  <section class="project__content">
    <h2 class="visually-hidden">Описание проекта</h2>

    <div class="project__content-block">
    <div class="project__content-text-block">
      <h3 class="project__content-title">Контекст</h3>

      <p class="project__content-text">Когда Сбербанку потребовалось построить системную работу над интерфейсными текстами, оказалось, что в отрасли еще нет стандартов и готовых инструкций. Значит эти стандарты и инструкции нужно создать.</p>
    </div>

    <img class="project__content-main-image" width="1620" height="600"
          src="/img/project-top@1x.jpg"
          srcset="/img/project-top@2x.jpg 2x"
          alt="Проект компании ILM Group">
    </div>

    <div class="project__content-block">
      <div class="project__content-text-block project__content-text-block--steacky">
        <h3 class="project__content-title">Проблема</h3>

        <p class="project__content-text">Изначально ставили задачу обновить сайт, так как он сильно и давно устарел. На второй встрече было принято решение проводить полноценное обновление фирменного стиля, включая новый дизайн сайтам.</p>
      </div>

      <img-comparison-slider>
        <img class="project__content-image" width="928" height="600"
              src="/img/project@1x.jpg"
              srcset="/img/project@1x.jpg 2x"
              alt="Проект компании ILM Group"
              slot="first">

        <img class="project__content-image" width="928" height="600"
            src="/img/project2@2x.jpg"
            srcset="/img/project2@2x.jpg 2x"
            alt="Проект компании ILM Group"
            slot="second">
      </img-comparison-slider>

      <div class="project__content-video-container">
        <iframe class="project__content-video" src="https://player.vimeo.com/video/580799106" allowfullscreen width="160" height="90"></iframe>
      </div>

      <div class="project__content-video-container">
        <iframe class="project__content-video" src="https://www.youtube.com/embed/U0_m-pXJFlk" allowfullscreen width="160" height="90"></iframe>
      </div>

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">
    </div>

    <div class="project__content-block">
      <div class="project__content-text-block project__content-text-block--steacky">
        <h3 class="project__content-title">Задача студии</h3>

        <ol class="project__content-list">
          <li class="project__content-list-item">Передать современность и масштабность компании. Клиент хотел, чтобы было понятно, что они самый крупный, профессиональный центр в России и Европе.</li>
          <li class="project__content-list-item">Создать визуальный язык, соответствующий уровню компании – применимый как для рекламы в массовых медиа, так и участия в научных конференциях.</li>
        </ol>
      </div>

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">
    </div>

    <div class="project__content-block">
      <div class="project__content-text-block project__content-text-block--steacky">
        <h3 class="project__content-title">Концепция бренда</h3>

        <p class="project__content-text">Круг, это идеальная форма, знак плюса, это узнаваемый во всем мире знак медицины. Институт занимается проблемами кожи, а кожа состоит из клеток. Таким образом, мы получили легкую, форму логотипа, легко адаптируемого на любые носители, который напоминает клетку человека</p>
      </div>

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">

      <img class="project__content-image popup-image" width="928" height="600"
            src="/img/project@1x.jpg"
            srcset="/img/project@2x.jpg 2x"
            alt="Проект компании ILM Group">
    </div>
  </section>
</section>

<section class="project__feedback container">
  <h2 class="page__section-title">Отзыв клиента</h2>

  <blockquote class="feedback">
    <h3 class="feedback__title">Мосдерм</h3>

    <p class="feedback__text feedback__text--single">
      Заказывал разработку корпоративного стиля и сайта для крупнейшего в Европе центра дерматовенерологии www.mosderm.ru. Остался крайне доволен взаимодействием. На каждом этапе работ предлагалась масса вариантов решения, зачастую больше, чем прописано в техническом задании. Правки делались оперативно. Остались только положительные эмоции.
    </p>

    <cite class="feedback__author">
      <img class="feedback__author-avatar" width="72" height="72"
          src="/img/feedback1@1x.jpg"
          srcset="/img/feedback1@2x.jpg 2x"
          alt="Александр Игнатьев">
      <span class="feedback__name">Александр Игнатьев</span>
      <span class="feedback__role">Директор по развитию</span>
    </cite>

    <div class="feedback__actions">
      <a class="feedback__watch-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
        <svg class="feedback__watch-link-icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#play"></use>
        </svg>

        <span class="feedback__watch-link-text">смотреть отзыв</span>
      </a>

      <a class="feedback__facebook-link" href="#" target="_blank" rel="noreferrer noopener nofollow">
        читать на facebook
      </a>
    </div>
  </blockquote>
</section>

<div class="project__controls container">
  <a class="button" href="#">
    <span class="button__icon-wrapper">
      <svg class="button__icon" width="24" height="24" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#arrow-left"></use>
      </svg>
    </span>

    <span class="button__text project__controls-text">предыдущий проект</span>
  </a>

  <a class="project__back-link" href="">вернуться в портфолио</a>

  <a class="button" href="#">
    <span class="button__text project__controls-text">следующий проект</span>

    <span class="button__icon-wrapper">
      <svg class="button__icon" width="24" height="24" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#arrow-right"></use>
      </svg>
    </span>
  </a>
</div>

<section class="project__similar container">
  <h2 class="page__section-title">Похожие проекты</h2>

  <ul class="project__similar-list">
    <li class="project__similar-item">
      <article class="case">
        <a class="case__title-link-wrapper" href="/project.html">
          <h3 class="case__title">ILM Group</h3>
          <p class="case__description">Обновили логотип и фирменный стиль бренда. Создали необходимые носители</p>
        </a>
        <a class="case__image-wrapper" href="/project.html">
          <img class="case__image" width="790" height="500"
              src="/img/ilm-group@1x.jpg"
              srcset="/img/ilm-group@2x.jpg 2x"
              alt="Проект компании ILM Group">
        </a>

        <a class="button case__link" href="/project.html">
          <span class="button__icon-wrapper">
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </span>

          <span class="button__text">посмотреть кейс</span>
        </a>
      </article>
    </li>

    <li class="project__similar-item">
      <article class="case">
        <a class="case__title-link-wrapper" href="/project.html">
          <h3 class="case__title">Мосдерм</h3>
          <p class="case__description">Обновление айдентики компании. Новый логотип, фирменный стиль, веб-сайт</p>
        </a>
        <a class="case__image-wrapper" href="/project.html">
          <img class="case__image" width="790" height="500"
              src="/img/mosderm@1x.jpg"
              srcset="/img/mosderm@2x.jpg 2x"
              alt="Проект компании ILM Group">
        </a>

        <a class="button case__link" href="/project.html">
          <span class="button__icon-wrapper">
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </span>

          <span class="button__text">посмотреть кейс</span>
        </a>
      </article>
    </li>
  </ul>
</section>

<section class="page__form-section container">
  <h2 class="page__section-title">Начать проект</h2>

  <form class="form" method="POST" action="https://echo.htmlacademy.ru/">
    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-name">имя и фамилия</label>
      <input class="form__text-field" type="text" id="shrot-form-name" name="shrot-form-name">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-company">компания</label>
      <input class="form__text-field" type="text" id="shrot-form-company" name="shrot-form-company">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-email">email</label>
      <input class="form__text-field" type="email" id="shrot-form-email" name="shrot-form-email" required
              autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-phone">телефон</label>
      <input class="form__text-field" type="tel" id="shrot-form-phone" name="shrot-form-phone" required
            pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
            autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-task">описание задачи</label>
      <input class="form__text-field" type="text" id="shrot-form-task" name="shrot-form-task">
    </div>

    <div class="form__row form__row--bottom form__row--submit">
      <button class="button" type="submit">
        <span class="button__icon-wrapper">
          <svg class="button__icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </span>

        <span class="button__text">отправить заявку</span>
      </button>

      <input class="visually-hidden" id="short-form-file" type="file" name="short-form-file">
      <label class="form__file" for="short-form-file">
        <span class="form__file-icon-wrapper">
          <svg class="form__file-icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#add-file"></use>
          </svg>
        </span>

        <span class="form__file-text">
          прикрепить файл<br>
          <small>не более 10mb</small>
        </span>
      </label>
    </div>

    <p class="form__text">
      Отправляя заявку, я соглашаюсь передать свои персональные данные, содержащиеся в анкете и всех приложенных файлах. Я понимаю и соглашаюсь, что мои данные будут храниться и обрабатываться в течение пяти лет, в соответствии с Федеральным законом «О персональных данных».
    </p>
  </form>
</section>
