---
layout: page.njk
permalink: services.html
---

<section class="services container">
  <div class="page__title-container">
    <h1 class="page__title">Услуги</h1>
  </div>

  <ol class="services__list">
    <li class="services__item">

      <h2 class="services__item-title">
        <a class="services__item-link" href="/category.html">Стратегия</a>
      </h2>

      <p class="services__item-description">Создаем сильный и узнаваемый бренд при помощи разработки позиционирования, стратегии и нейминга</p>

      <ul class="services__sub-list">
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Кабинетные исследования</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Позиционирование</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Платформа бренда</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Коммуникационная стратегия</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Аудит бренда</a>
        </li>
      </ul>

      <svg class="services__icon" width="180" height="60" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#strategy"></use>
      </svg>
    </li>
    <li class="services__item">
      <h2 class="services__item-title">
        <a class="services__item-link" href="/category.html">Брендинг</a>
      </h2>

      <p class="services__item-description">Создаем логотип и фирменный стиль бренда, которые легко запоминаются и формируют успешный образ бренда</p>

      <ul class="services__sub-list">
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Охраноспособный нейминг</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Визуальная система</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Разработка брендбука</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Дизайн упаковки</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Авторский надзор</a>
        </li>
      </ul>

      <svg class="services__icon" width="180" height="60" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#branding"></use>
      </svg>
    </li>
    <li class="services__item">
      <h2 class="services__item-title">
        <a class="services__item-link" href="/category.html">Разработка</a>
      </h2>

      <p class="services__item-description">Разрабатываем сайты, веб-cервисы, цифровые продукты, также оптимизируем существующие онлайн-продукты</p>

      <ul class="services__sub-list">
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Лендинги и промо-сайты</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Корпоративные сайты</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Онлайн сервисы</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Продуктовая стратегия</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">UX и UI дизайн</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Тестирование и поддержка</a>
        </li>
      </ul>

      <svg class="services__icon" width="180" height="60" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#develop"></use>
      </svg>
    </li>
    <li class="services__item">
      <h2 class="services__item-title">
        <a class="services__item-link" href="/category.html">Дизайн</a>
      </h2>

      <p class="services__item-description">Современные носители с четкими правилами. Рисуем иллюстрации и 3D. Делаем анимационные и motion видео.</p>

      <ul class="services__sub-list">
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Корпоративная документация</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Диджитал носители</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Сувенирная и POSM продукция</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Видео, анимация, 3D</a>
        </li>
        <li class="services__sub-list-item">
          <a class="services__item-link" href="/service.html">Сервисный дизайн</a>
        </li>
      </ul>

      <svg class="services__icon" width="180" height="60" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#design"></use>
      </svg>
    </li>
  </ol>

</section>

<section class="page__form-section container">
  <h2 class="page__section-title">Начать проект</h2>

  <form class="form" method="POST" action="https://echo.htmlacademy.ru/">
    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-name">имя и фамилия</label>
      <input class="form__text-field" type="text" id="shrot-form-name" name="shrot-form-name">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-company">компания</label>
      <input class="form__text-field" type="text" id="shrot-form-company" name="shrot-form-company">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-email">email</label>
      <input class="form__text-field" type="email" id="shrot-form-email" name="shrot-form-email" required
              autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-phone">телефон</label>
      <input class="form__text-field" type="tel" id="shrot-form-phone" name="shrot-form-phone" required
            pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
            autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-task">описание задачи</label>
      <input class="form__text-field" type="text" id="shrot-form-task" name="shrot-form-task">
    </div>

    <div class="form__row form__row--bottom form__row--submit">
      <button class="button" type="submit">
        <span class="button__icon-wrapper">
          <svg class="button__icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </span>

        <span class="button__text">отправить заявку</span>
      </button>

      <input class="visually-hidden" id="short-form-file" type="file" name="short-form-file">
      <label class="form__file" for="short-form-file">
        <span class="form__file-icon-wrapper">
          <svg class="form__file-icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#add-file"></use>
          </svg>
        </span>

        <span class="form__file-text">
          прикрепить файл<br>
          <small>не более 10mb</small>
        </span>
      </label>
    </div>

    <p class="form__text">
      Отправляя заявку, я соглашаюсь передать свои персональные данные, содержащиеся в анкете и всех приложенных файлах. Я понимаю и соглашаюсь, что мои данные будут храниться и обрабатываться в течение пяти лет, в соответствии с Федеральным законом «О персональных данных».
    </p>
  </form>
</section>
