---
layout: page.njk
permalink: service.html
---

<div class="service-page__section service-page__section--top container">
  <div class="service-page__title-container service-page__title-container--develop">
    <h1 class="page__title">Корпоративные сайты</h1>

    <p class="service-page__description">
      Основная функция корпоративных сайтов, это четко, последовательно и красиво презентавать услуги компании
    </p>
  </div>

  <div class="service-page__container">
    <section class="service-page__section service-page__section--column">
      <h2 class="visually-hidden">Этапы работы</h2>

      <ul class="service-page__stages">
        <li class="service-page__stage">
          <h3 class="service-page__stage-title">Обсуждение и КП</h3>
          <p class="service-page__stage-description">Все проекты оформляются юридически. Условия, сроки и наши гарантийные обязательства прописываются в договоре</p>
        </li>
        <li class="service-page__stage">
          <h3 class="service-page__stage-title">Финансы и договор</h3>
          <p class="service-page__stage-description">Комфортный график платежей с поэтапной предоплатой, а окончательный расчет всегда по завершению проекта.</p>
        </li>
        <li class="service-page__stage">
          <h3 class="service-page__stage-title">Рабочий процесс</h3>
          <p class="service-page__stage-description">Разрабатываем прототип, дизайн всех страниц сайта. Верстаем под все устройства. Кодируем согласно макетам. Тестируем</p>
        </li>
        <li class="service-page__stage">
          <h3 class="service-page__stage-title">Сдача проекта</h3>
          <p class="service-page__stage-description">В среднем разработка подобного проекта занимает 6-8 месяцев, включая согласование, но исключая доп. доработки.</p>
        </li>
      </ul>
    </section>

    <aside class="service-page__aside">
      <h2 class="visually-hidden">Дополнительные требования</h2>
      <div class="service-page__aside-block service-page__aside-block--grey">
        <h3 class="service-page__aside-title">Самое важное</h3>

        <dl class="service-page__aside-params">
          <dt class="service-page__aside-params-name">Стоимость</dt>
          <dd class="service-page__aside-params-value">от 145 000 ₽</dd>

          <dt class="service-page__aside-params-name">Сроки разработки</dt>
          <dd class="service-page__aside-params-value">от 45 рабочих дней</dd>
        </dl>

        <button class="button js-form-open" type="button">
          <span class="button__icon-wrapper">
            <svg class="button__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </span>

          <span class="button__text">отправить заявку</span>
        </button>
      </div>

      <div class="service-page__aside-block">
        <h3 class="service-page__aside-title">Может потребоваться: *</h3>

        <ul class="servise-page__aside-list">
          <li class="service-page__aside-list-item">заполненный бриф;</li>
          <li class="service-page__aside-list-item">техническое задание;</li>
          <li class="service-page__aside-list-item">структура сайта (CJM);</li>
          <li class="service-page__aside-list-item">логотип в векторе;</li>
          <li class="service-page__aside-list-item">гайдбук и брендбук.</li>
        </ul>
      </div>

      <p class="service-page__aside-descr">
        *Если у вас есть этот набор материалов — это упростит работу по проекту. Если нет, то не пугайтесь. Мы поможем вам с их формированием.
      </p>
    </aside>
  </div>
</div>

<section class="service-page__section service-page__section--grey">
  <div class="container">
    <h2 class="service-page__section-title">Этапы разработки</h2>

    <ul class="service-page__develop-stages">
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Аналитика и&nbsp;проектирование</h3>
        <p class="service-page__develop-stage-description">Определяем цель, структуру и набор инструментов разработки будущего сайта (язык программирования, cms−платформу, модули интеграции).</p>
      </li>
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Дизайн концепция и&nbsp;UI&#8209;кит</h3>
        <p class="service-page__develop-stage-description">Выстраиваем повествование на каждой странице: чтобы увлечь аудиторию, отразить преимущества, вызвать желание купить товар или услугу</p>
      </li>
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Вёрстка</h3>
        <p class="service-page__develop-stage-description">Выстраиваем повествование на каждой странице: чтобы увлечь аудиторию, отразить преимущества, вызвать желание купить товар или услугу</p>
      </li>
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Программирование</h3>
        <p class="service-page__develop-stage-description">Править прототип — быстро, а готовый сайт — долго и дорого. Поэтому на этом этапе мы совместно с клиентом доводим до идеала контент, структуру и логику сайта</p>
      </li>
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Тестирование и запуск</h3>
        <p class="service-page__develop-stage-description">Править прототип — быстро, а готовый сайт — долго и дорого. Поэтому на этом этапе мы совместно с клиентом доводим до идеала контент, структуру и логику сайта</p>
      </li>
      <li class="service-page__develop-stage">
        <h3 class="service-page__develop-stage-title">Финиш</h3>
        <p class="service-page__develop-stage-description">Вы получаете дизайн−макеты, рабочий сайт, инструкции по обслуживанию и наполнению сайта.</p>
      </li>
    </ul>
  </div>

</section>

<section class="service-page__section container">
  <h2 class="service-page__section-title">Кейсы</h2>

  <ul class="cases-section__list cases-section__list--blocks cases-section__list--without-top-borders">
    <li class="cases-section__item">
      <article class="case">
        <a class="case__title-link-wrapper" href="/project.html">
          <h3 class="case__title">ILM Group</h3>
          <p class="case__description">Обновили логотип и фирменный стиль бренда. Создали необходимые носители</p>
        </a>
        <a class="case__image-wrapper" href="/project.html">
          <img class="case__image" width="790" height="500"
              src="/img/ilm-group@1x.jpg"
              srcset="/img/ilm-group@2x.jpg 2x"
              alt="Проект компании ILM Group">
        </a>
      </article>
    </li>

    <li class="cases-section__item">
      <article class="case">
        <a class="case__title-link-wrapper" href="/project.html">
          <h3 class="case__title">Мосдерм</h3>
          <p class="case__description">Обновление айдентики компании. Новый логотип, фирменный стиль, веб-сайт</p>
        </a>
        <a class="case__image-wrapper" href="/project.html">
          <img class="case__image" width="790" height="500"
              src="/img/mosderm@1x.jpg"
              srcset="/img/mosderm@2x.jpg 2x"
              alt="Проект компании ILM Group">
        </a>
      </article>
    </li>
  </ul>

</section>

<section class="service-page__section service-page__section--grey">
  <div class="container">
    <h2 class="service-page__section-title">Стандартный состав команды проекта</h2>

    <ul class="service-page__team-list">
      <li class="service-page__team-item">Проектировщик</li>
      <li class="service-page__team-item">SEO-специалист</li>
      <li class="service-page__team-item">Контент-маркетолог</li>
      <li class="service-page__team-item">Дизайнер</li>
      <li class="service-page__team-item">Фронтенд-разработчик</li>
      <li class="service-page__team-item">Бэкэнд-разработчик</li>
      <li class="service-page__team-item">Маркетолог</li>
      <li class="service-page__team-item">Проджект-менеджер</li>
      <li class="service-page__team-item">Руководитель разработки</li>
    </ul>
  </div>
</section>

<section class="service-page__section container">
  <h2 class="service-page__section-title">Другие услуги</h2>

  <ol class="services-section__list">
    <li class="services-section__item">
      <article class="service service--strategy">
        <h3 class="service__title">Стратегия</h3>
        <p class="service__description">Создаем сильный и узнаваемый бренд при помощи разработки позиционирования, стратегии и нейминга.</p>
        <a class="service__link" href="/service.html">Подробнее</a>
      </article>
    </li>

    <li class="services-section__item">
      <article class="service service--branding">
        <h3 class="service__title">Брендинг</h3>
        <p class="service__description">Создаем логотип и фирменный стиль бренда, которые легко запоминаются и формируют успешный образ бренда.</p>
        <a class="service__link" href="/service.html">Подробнее</a>
      </article>
    </li>

    <li class="services-section__item">
      <article class="service service--develop">
        <h3 class="service__title">Разработка</h3>
        <p class="service__description">Разрабатываем сайты, веб-cервисы, цифровые продукты, также оптимизируем существующие онлайн-продукты.</p>
        <a class="service__link" href="/service.html">Подробнее</a>
      </article>
    </li>

    <li class="services-section__item">
      <article class="service service--design">
        <h3 class="service__title">Дизайн</h3>
        <p class="service__description">Современные носители с четкими правилами. Рисуем иллюстрации и 3D. Делаем анимационные и motion видео.</p>
        <a class="service__link" href="/service.html">Подробнее</a>
      </article>
    </li>
  </ol>
</section>

<section class="page__form-section service-page__section--form container">
  <h2 class="page__section-title">Начать проект</h2>

  <form class="form" method="POST" action="https://echo.htmlacademy.ru/">
    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-name">имя и фамилия</label>
      <input class="form__text-field" type="text" id="shrot-form-name" name="shrot-form-name">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-company">компания</label>
      <input class="form__text-field" type="text" id="shrot-form-company" name="shrot-form-company">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-email">email</label>
      <input class="form__text-field" type="email" id="shrot-form-email" name="shrot-form-email" required
              autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-phone">телефон</label>
      <input class="form__text-field" type="tel" id="shrot-form-phone" name="shrot-form-phone" required
            pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
            autocomplete="on">
    </div>

    <div class="form__field-wrapper">
      <label class="form__text-field-label" for="shrot-form-task">описание задачи</label>
      <input class="form__text-field" type="text" id="shrot-form-task" name="shrot-form-task">
    </div>

    <div class="form__row form__row--bottom form__row--submit">
      <button class="button" type="submit">
        <span class="button__icon-wrapper">
          <svg class="button__icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#arrow-right"></use>
          </svg>
        </span>

        <span class="button__text">отправить заявку</span>
      </button>

      <input class="visually-hidden" id="short-form-file" type="file" name="short-form-file">
      <label class="form__file" for="short-form-file">
        <span class="form__file-icon-wrapper">
          <svg class="form__file-icon" width="24" height="24">
            <use xlink:href="/img/sprite.svg#add-file"></use>
          </svg>
        </span>

        <span class="form__file-text">
          прикрепить файл<br>
          <small>не более 10mb</small>
        </span>
      </label>
    </div>

    <p class="form__text">
      Отправляя заявку, я соглашаюсь передать свои персональные данные, содержащиеся в анкете и всех приложенных файлах. Я понимаю и соглашаюсь, что мои данные будут храниться и обрабатываться в течение пяти лет, в соответствии с Федеральным законом «О персональных данных».
    </p>
  </form>
</section>
