---
layout: page.njk
permalink: user-agreement.html
---

<div class="container">
  <div class="document">

    <div class="document__title-container">
      <h1 class="document__title">Пользовательское соглашение</h1>
    </div>

    <div class="document__content">

      <p class="document__paragraph">Настоящее пользовательское соглашение (далее - Соглашение) в соответствии с положениями ст. 437 ГК РФ является офертой ИП Обухова Никиты Валентиновича, ОГРНИП 309732819400022 (далее - Администрация), и адресовано любому дееспособному лицу (далее – Пользователю) на изложенных ниже условиях.</p>
      <p class="document__paragraph">Регистрация в специальной форме, размещенной по адресу: https://tilda.cc/registration/, является безусловным и безоговорочным принятием (акцептом) Пользователем условий данного Соглашения.</p>

      <h2 class="document__subtitle">Термины и определения</h2>

      <p class="document__paragraph">Аккаунт — учетная запись Пользователя на Платформе.</p>
      <p class="document__paragraph">Личный кабинет — раздел Платформы, с помощью которого Пользователь может реализовывать функционал Платформы, в том числе создавать Сайты и Письма.</p>
      <p class="document__paragraph">Сайт — веб-сайт, созданный Пользователем с помощью Платформы.</p>
      <p class="document__paragraph">Письмо — письмо для рассылки, созданное Пользователем с помощью Платформы.</p>
      <p class="document__paragraph">Библиотека – база данных с Блоками и Шаблонами. Является составной частью Платформы и принадлежит Администрации.</p>
      <p class="document__paragraph">Блок — готовый к использованию элемент для создания Сайта или Письма, спроектированный и запрограммированный Администрацией.</p>
      <p class="document__paragraph">Шаблон — готовый к использованию набор Блоков для создания Сайта или Письма, спроектированный и запрограммированный Администрацией.</p>
      <p class="document__paragraph">Контент — информация, документы и иные объекты, размещаемые Пользователем на Сайте или в Письме.</p>
      <p class="document__paragraph document__paragraph--with-border">Тариф — объем предоставляемых прав и услуг Пользователю.</p>

      <ol class="document__list">
        <li class="document__list-item document__list-item--with-border">
          <h2 class="document__subtitle document__subtitle--with-counter">Предмет</h2>

          <ol class="document__list document__list--level2">
            <li class="document__list-item document__list-item--with-counter">Администрация предоставляет неисключительную лицензию на использование Платформы и элементов Библиотеки, а также оказывает сопутствующие услуги.</li>
            <li class="document__list-item document__list-item--with-counter">Пользователь использует Платформу и элементы Библиотеки согласно условиям Соглашения и выбранного Тарифа, а также уплачивает вознаграждение, если иное не предусмотрено Тарифом.</li>
          </ol>
        </li>

        <li class="document__list-item">
          <h2 class="document__subtitle document__subtitle--with-counter">Общие положения</h2>

          <ol class="document__list document__list--level2">
            <li class="document__list-item document__list-item--with-counter">Для использования Платформы Пользователь проходит регистрацию по адресу https://tilda.cc/registration/.</li>
            <li class="document__list-item document__list-item--with-counter">После регистрации Пользователь получает уникальный Аккаунт и доступ в Личный кабинет.</li>
            <li class="document__list-item document__list-item--with-counter">Все действия, совершаемые в Личном кабинете, считаются совершенными Пользователем лично.</li>
            <li class="document__list-item document__list-item--with-counter">Пользователь самостоятельно несет ответственность за:
              <ol class="document__list document__list--alpha">
                <li class="document__list-item document__list-item--with-counter">Сохранность своего логина и пароля.</li>
                <li class="document__list-item document__list-item--with-counter">Последствия в случае утери и/или разглашения логина и пароля третьим лицам.</li>
            </li>
            <li class="document__list-item document__list-item--with-counter">Администрация не рекомендует Пользователю передавать третьим лицам данные своего Аккаунта. В случае передачи данных Аккаунта Пользователь должен ознакомить третьих лиц с Соглашением и несет всю ответственность за их действия.</li>
            <li class="document__list-item document__list-item--with-counter">Платформа не предназначена и не может использоваться детьми в возрасте до 16 лет. Проходя регистрацию, Пользователь гарантирует, что ему исполнилось 16 лет. Кроме того, если возраст Пользователя меньше 18 лет, он гарантирует, что у него есть согласие родителя или официального опекуна с данным Пользовательским соглашением.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

  <div class="document__button-container">
    <button class="button" type="button">
      <span class="button__icon-wrapper">
        <svg class="button__icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#arrow-down"></use>
        </svg>
      </span>

      <span class="button__text">загрузить ещё</span>
    </button>
  </div>
</div>
