{% extends "src/layouts/base.njk" %}

{% block content %}

  {% include 'header.njk' %}

  {% if permalink === '404.html' %}
    <main class="page__main page__main--full-height">
      {{ content | safe }}
    </main>
  {% else%}
    <main class="page__main">
      {{ content | safe }}
    </main>
  {% endif %}

  {% if permalink != '404.html' %}
    {% include 'footer.njk' %}
  {% endif %}

  {% set headerMode = 'header--form' %}
  {% include 'form.njk' %}

  {% set headerMode = 'header--menu' %}
  {% include 'menu.njk' %}

  {% include 'cookies.njk' %}
  {% include 'mailing.njk' %}
  {% include 'up-button.njk' %}

  <script type="module" src="/scripts/index.js"></script>

{% endblock %}
